/* 
  Utilize camelCase (tituloPrincipal), já que o nome da classe se transformará em uma propriedade de um objeto JavaScript. Não utilize hífens (titulo-principal), funcionará, mas não é uma boa prática - nesse caso, na tag ficaria: <p className={styles['titulo-principal']}></p>.
*/

.titulo {
  color: #43c;
}

.preco {
  font-weight: bold;
}

.comprar {
  transform: rotate(90deg) translateY(-120px);
}

/*
  Funcionalidades Extras (não indicadas pelo professor):
  O CSS Modules disponibiliza algumas funcionalidades extras para o CSS, como a definição de variáveis, composição de elementos e definição de classes no contexto global. Não aconselho o uso, pois a sintaxe não é bem suportada pela IDE (VS Code) e pelo eslint.
*/

.titulo {
  color: #43c;
}

/* no local de composes use a vírgula .titulo, .preco {} */
.preco {
  composes: titulo;
  font-weight: bold;
}

/* no local de variáveis utilize variáveis de CSS com o var() */
@value width: 900px;

/* crie um css global utilizando o IMPORT puro para quando precisar de estilos globais */
:global .container {
  max-width: width;
}
